/* fonts used
font-family: 'Public Sans', sans-serif; */

/* basic style setup */
* {
  box-sizing: border-box;
  /*  overflow-x: hidden; */
}
/* color used */
$darkblue: hsl(233, 26%, 24%);
$limegreen: hsl(136, 65%, 51%);
$brightcyan: hsl(192, 70%, 51%);
$gradient: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
}
html {
  overflow-x: hidden;
}

/* styles for container */
.container-fluid {
  width: 100vw;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

/* styling for navbar */
.nav-holder {
  background-color: white;
  position: relative;
  z-index: 99;
}
#nav-bar {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  img {
    height: fit-content;
  }
  .nav-itoms {
    font-weight: bold;
    a {
      display: inline-block;
      padding: 0 15px;
      color: $GrayishBlue;
      text-decoration: none;
      position: relative;
    }
  }
  .nav-itoms-mob {
    display: none;
    a {
      position: relative;
    }
  }
  .request-but {
    text-decoration: none;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 25px;
    background: $gradient;
    color: white;
    font-size: 15px;
    transition: all 400ms linear;
  }
  .hamburger-menu {
    display: none;
    border: none;
    position: relative;
    background-color: transparent;
    span {
      transform-origin: 83%;
      display: block;
      margin: 4px;
      width: 25px;
      height: 2px;
      background-color: black;
      transition: all 500ms linear;
    }
  }
}

/* styling for header */
.header-holder {
  background-color: hsl(0, 0%, 98%);
}
#header {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
  align-items: center;
  .head-content {
    h1 {
      font-size: 50px;
      font-weight: 300;
    }
    p {
      color: $GrayishBlue;
      font-size: 15px;
      max-width: 400px;
    }
    .request-but2 {
      text-decoration: none;
      font-weight: bold;
      padding: 15px 25px;
      border-radius: 25px;
      background: $gradient;
      color: white;
      font-size: 15px;
      display: inline-block;
      margin-top: 15px;
      transition: all 400ms linear;
    }
  }
  .head-img {
    :nth-child(1) {
      position: absolute;
      top: -10%;
      left: 50%;
      z-index: 0;
    }
    :nth-child(2) {
      position: absolute;
      top: -10%;
      transform: scale(0.9);
      left: 60%;
    }
    :nth-child(3) {
      display: none;
    }
  }
}

/* stylings for service section */
.service-holder {
  background-color: hsl(220, 16%, 96%);
}
#service {
  padding: 75px 0;
  .service-text {
    h2 {
      font-size: 40px;
      font-weight: 300;
    }
    p {
      font-size: 15px;
      color: $GrayishBlue;
    }
  }
  .service-category {
    display: flex;
    gap: 30px;
    padding-top: 50px;
    .card {
      width: 400px;
      h3 {
        font-size: 25px;
        font-weight: 400;
      }
      p {
        font-size: 15px;
        font-weight: 300;
        color: $GrayishBlue;
      }
    }
  }
}

/* styling for article */
.article-holder {
  background-color: hsl(0, 0%, 98%);
}
#article {
  padding-bottom: 100px;
  .article-text {
    h2 {
      font-weight: 300;
      font-size: 40px;
      padding: 90px 0 50px 0;
      margin: 0;
    }
  }
  .article-section {
    display: flex;
    gap: 30px;
    .card2 {
      background-color: white;
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
      }
      h4 {
        margin: 30px 0 10px 25px;
        font-size: 14px;
        color: $GrayishBlue;
      }
      h3 {
        margin-left: 25px;
        width: 85%;
        font-size: 20px;
        font-weight: 700;
        color: $darkblue;
      }
      p {
        width: 80%;
        margin-left: 25px;
        color: $GrayishBlue;
      }
    }
  }
}

/* styling for footer */
.footer-holder {
  background-color: hsl(233, 26%, 24%);
}
#footer {
  display: flex;
  flex-wrap: wrap;
  padding: 70px 0;
  align-items: center;
  .logo-sec {
    flex: 15%;
    .icon {
      display: inline-block;
      padding-top: 45px;
      a {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
  .foot-text {
    flex: 15%;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: 10px 0;
    }
  }
  .foot-right {
    flex: 45%;
    text-align: right;
    .request-but3 {
      text-decoration: none;
      font-weight: bold;
      padding: 15px 25px;
      border-radius: 25px;
      background: $gradient;
      color: white;
      font-size: 15px;
      display: inline-block;
      margin-top: 15px;
      transition: all 400ms linear;
    }
    p {
      color: $GrayishBlue;
      font-size: 14px;
      padding-top: 25px;
    }
  }
}

/* hover effects */
.request-but:hover,
.request-but2:hover,
.request-but3:hover {
  opacity: 0.7;
}
.nav-itoms a::before {
  content: "";
  display: inline-block;
  width: 75%;
  transform: scalex(0);
  height: 5px;
  left: 15%;
  background: $gradient;
  position: absolute;
  bottom: -28px;
  transition: all 400ms linear;
}

.nav-itoms-mob a::before {
  content: "";
  display: inline-block;
  width: 200%;
  transform: scalex(0);
  height: 3px;
  left: -40%;
  bottom: 0;
  background: $gradient;
  position: absolute;
  transition: all 400ms linear;
}

.nav-itoms a:hover::before,
.nav-itoms-mob a:hover::before {
  transform: scalex(1);
}

/* responsive media queries */
@media screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  #header {
    .head-img {
      :nth-child(1) {
        transform: scale(0.8);
        left: 40%;
        top: -10%;
      }
      :nth-child(2) {
        transform: scale(0.7);
        left: 54%;
        top: -10%;
      }
    }
  }
  #footer {
    .logo-sec {
      .icon {
        a {
          padding: 0 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
  #nav-bar {
    .nav-itoms {
      a {
        padding: 0 5px;
      }
    }
  }
  #header {
    .head-img {
      :nth-child(1) {
        transform: scale(0.75);
        left: 30%;
        top: -10%;
      }
      :nth-child(2) {
        transform: scale(0.5);
        left: 35%;
        top: -7%;
      }
    }
  }
  #service {
    .service-category {
      flex-wrap: wrap;
      .card {
        flex: 45%;
      }
    }
  }
  #article {
    .article-section {
      flex-wrap: wrap;
      .card2 {
        flex: 45%;
      }
    }
  }
  #footer {
    .foot-text {
      flex: 20%;
      padding-left: 40px;
    }
    .foot-right {
      flex: 40%;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    padding: 0 10px;
  }
  #nav-bar {
    position: relative;
    .nav-itoms {
      display: none;
    }
    .nav-itoms-mob {
      position: absolute;
      flex-direction: column;
      opacity: 0;
      height: auto;
      display: flex;
      color: $darkblue;
      align-items: center;
      background-color: $White;
      border-radius: 5px;
      width: 90vw;
      min-height: 250px;
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      transition: all 500ms linear;
      a {
        padding: 5px 0;
        text-decoration: none;
        font-weight: 700;
        color: $GrayishBlue;
      }
    }
    .hamburger-menu {
      display: inline-block;
      border: none;
      cursor: pointer;
      right: 3%;
      position: relative;
    }
    .request-but {
      display: none;
    }
  }
  #header {
    flex-direction: column-reverse;
    height: 1000px !important;
    .head-content {
      text-align: center;
      position: relative;
      h1 {
        font-size: 50px;
      }
      .request-but2 {
        padding: 15px 100px;
      }
    }
    .head-img {
      :nth-child(1) {
        transform: scale(0.7);
        display: none;
      }
      :nth-child(2) {
        width: 170vw;
        top: 20%;
        left: 0%;
        position: relative;
        z-index: 2;
      }
      :nth-child(3) {
        display: block;
        top: 0;
        left: 0;
        width: 100vw;
        position: absolute;
        z-index: 0;
      }
    }
  }
  #service {
    background-color: $LightGrayishBlue;
    position: relative;
    .service-text {
      text-align: center;
    }
    .service-category {
      text-align: center;
    }
    #article {
      .article-section {
        flex-wrap: wrap;
        .card2 {
          flex: 45%;
        }
      }
    }
  }
  #article {
    position: relative;
    background-color: $LightGrayishBlue;
    .article-text {
      display: flex;
      justify-content: center;
    }
    .article-section {
      flex-wrap: wrap;
      .card2 {
        flex: 45%;
      }
    }
  }
  #footer {
    padding-bottom: 0;
    .logo-sec {
      flex: 33%;
      text-align: center;
    }
    .foot-text {
      flex: 33%;
      text-align: center;
    }
    .foot-right {
      padding-top: 40px;
      flex: 90%;
      text-align: center;
    }
  }
}

/* for mobile screens */
@media screen and (max-width: 576px) {
  .container {
    width: 100vw;
  }
  #nav-bar {
    position: relative;
    .nav-itoms {
      display: none;
    }
    .nav-itoms-mob {
      position: absolute;
      flex-direction: column;
      opacity: 0;
      height: auto;
      display: flex;
      color: $darkblue;
      align-items: center;
      background-color: $White;
      border-radius: 5px;
      width: 90vw;
      min-height: 250px;
      top: 150px;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      transition: all 500ms linear;
      a {
        padding: 5px 0;
        text-decoration: none;
        font-weight: 700;
        color: $GrayishBlue;
      }
    }
    .hamburger-menu {
      display: inline-block;
      border: none;
      cursor: pointer;
      right: 5%;
    }
    .request-but {
      display: none;
    }
  }
  #header {
    flex-direction: column-reverse;
    height: 800px !important;
    .head-content {
      display: grid;
      text-align: center;
      justify-content: center;
      h1 {
        font-size: 35px;
        width: 90%;
        margin: 0 auto;
      }
      p {
        width: 90%;
        margin: 15px auto;
      }
      .request-but2 {
        font-size: 13px;
        padding: 15px 15px !important;
        width: 80% !important;
        margin: 0 auto;
      }
    }
    .head-img {
      :nth-child(1) {
        top: -150px;
        display: none;
      }
      :nth-child(2) {
        left: 0;
        width: 180vw;
        top: 20%;
        position: relative;
        z-index: 7;
      }
      :nth-child(3) {
        display: block;
        width: 100vw;
        top: 0%;
        left: 0%;
        position: absolute;
        z-index: 0;
      }
    }
  }
  #service {
    position: relative;
    padding: 30px 0;
    .service-text {
      text-align: center;
    }
    .service-text {
      display: grid;
      h2 {
        width: 95%;
        margin: 15px auto;
        font-size: 30px;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
    .service-category {
      display: grid;
      text-align: center;
      .card {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  #article {
    position: relative;
    .article-text {
      display: flex;
      justify-content: center;
      h2 {
        font-size: 30px;
      }
    }
    .article-section {
      flex-wrap: wrap;
      .card2 {
        flex: 90%;
      }
    }
  }

  #footer {
    align-items: center;
    gap: 20px;
    flex-direction: column;
    .logo-sec {
      display: flex;
      flex-direction: column;
      flex: 90%;
      margin: 0 auto;
      .icon {
        padding-top: 30px;
      }
    }
    .foot-text {
      padding: 0;
      flex: 90%;
      text-align: center;
    }
    .foot-right {
      text-align: center;
      flex: 90%;
      margin: 0 auto;
      padding-top: 10px;
    }
  }
}
